/* These styles just setup different container sizes which simulates how the product card will look on different viewports */
.product-card-demo__container {
  margin: 0 auto;
  width: 100%;
  max-width: 48%;
}


@media screen and (min-width: 768px) {
  .product-card-demo__container {
    margin: 0 auto;
    width: 100%;
    max-width: 30%;
  }  
}


@media screen and (min-width: 1024px) {
  .product-card-demo__container {
    margin: 0 auto;
    width: 22%;
    max-width: 260px;
  }  
}

.product-card {
  border: 1px solid #ccc;
  display: block;
}

.product-card-picture {
  overflow: hidden;
  height: 0;
  padding-top: 100%;
  display: block;
}

.product-card-picture .product-image {
  position: absolute;
  top: 0;
  left: 0;
}

.product-card__media-container {
  padding: 5px;
}

.product-thumbnail__link {
  position: relative;
}

.card__badge {
  position: absolute;
  top: 0;
  right: 0;
}

.product-variants {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-variant-button {
  padding: 2px;
  border: 1px solid #ccc;
  display: block;
  margin: 0 5px;
}

.product-variant-button--active {
  border: 2px solid #53e7c9;
}

.product-card__information {
  padding: 10px 5px;
  position: relative;
}

.product-card__information .product-link {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  // Add this to increase the tap target to also include the price
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.product-card__information .price__regular {
  display: flex;
  justify-content: flex-start;
}


.product-card__information .price--on-sale .price__sale {
  display: flex;
  justify-content: flex-start;
}

.price__sale .original-price {
  text-decoration: line-through;
}

.product-card .card__badge {
  display: none;
}

.price--on-sale .card__badge {
  display: block;
}



